.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 0;
  border-radius: 2px;
  transition: all 0.3s;
  vertical-align: middle;
  cursor: pointer;
}
.button[disabled], .button:disabled, .button.loading {
  cursor: not-allowed;
}
.button[disabled], .button:disabled {
  background-color: #00000020 !important;
  border-color: #ccc !important;
  color: #00000050 !important;
}
.button.loading {
  position: relative;
}
.button.loading::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.loading-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-right: 4px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.button-size-small {
  height: 28px;
  font-size: 12px;
  padding: 0 6px;
}

.button-size-medium {
  height: 32px;
  font-size: 14px;
  padding: 0 10px;
}

.button-size-large {
  height: 40px;
  font-size: 16px;
  padding: 0 12px;
}

.button-theme-default {
  background-color: #fff;
  border-color: #ccc;
}
.button-theme-default:hover {
  color: #1e40af;
  border-color: #1e40af;
}
.button-theme-default:active {
  color: #1e3a8a;
  border-color: #1e3a8a;
}
.button-theme-default.ghost {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.button-theme-default.ghost:hover {
  color: #1e40af;
  border-color: #1e40af;
}
.button-theme-default.ghost:active {
  color: #1e3a8a;
  border-color: #1e3a8a;
}

.button-theme-primary {
  background-color: #1e40af;
  color: #fff;
}
.button-theme-primary:hover {
  background-color: #2563eb;
}
.button-theme-primary:active {
  background-color: #1e3a8a;
}
.button-theme-primary.ghost {
  background-color: transparent;
  color: #1e40af;
  border-color: #1e40af;
}
.button-theme-primary.ghost:hover {
  color: #2563eb;
  border-color: #2563eb;
}
.button-theme-primary.ghost:active {
  color: #1e3a8a;
  border-color: #1e3a8a;
}

.button-theme-danger {
  background-color: #b91c1c;
  color: #fff;
}
.button-theme-danger:hover {
  background-color: #ef4444;
}
.button-theme-danger:active {
  background-color: #7f1d1d;
}
.button-theme-danger.ghost {
  background-color: transparent;
  color: #b91c1c;
  border-color: #b91c1c;
}
.button-theme-danger.ghost:hover {
  color: #ef4444;
  border-color: #ef4444;
}
.button-theme-danger.ghost:active {
  color: #7f1d1d;
  border-color: #7f1d1d;
}