.button-size-small {
  height: 28px;
  font-size: 12px;
  padding: 0 6px;
}

.button-size-medium {
  height: 32px;
  font-size: 14px;
  padding: 0 10px;
}

.button-size-large {
  height: 40px;
  font-size: 16px;
  padding: 0 12px;
}